.tweetBox {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background-color);
  padding-right: 10px;
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox Button {
  background-color: var(--primary-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 50px !important;
  height: 50px !important;
  margin-top: 25px !important;
  width: 80px !important;
  margin-left: auto !important;
}
